/* EcoFriendlySuggestions.css */

/* Container for the eco-friendly suggestions component */
.eco-friendly-suggestions {
  background-color: #90c8f9ae;
  padding: 70px;
  border-radius: 10px;
  box-shadow: inset 0 0 50px #5dbbea;
  width: 80%;
  margin: 30px auto;
  font-family: 'Manrope', sans-serif;
}

.journey-intro {
    display: flex;
    justify-content: center;
    height: 100%;
    color: #fff !important;
    background-color:#90c8f9ae;
    box-shadow: inset 0 0 50px #5dbbea;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    font-size: 2.6rem;
    margin-bottom: -4rem;
    font-family: 'Manrope', sans-serif;
    border-radius: 10px;
    margin-top: 2.7rem;
    margin-bottom: 50px;
}


/* Heading style */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #254d74;
  font-family: 'Manrope', sans-serif;
}

/* Form style */
form {
  text-align: center;
  max-width: 80%;
  margin: 40px auto;
  font-family: 'Manrope', sans-serif;

}

/* Destination input style */
.destination-input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  border: none;
  background-color: #ffffffc3;
  border-radius: 10px;
  color: #366491;
  font-family: 'Manrope', sans-serif;

}

/* "Get Suggestions" button style */
.get-suggestions-button {
  background-color: #ffffffc3;
  color: #366491;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 40%;
  margin: 10px 0;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-family: 'Manrope', sans-serif;

}

.get-suggestions-button:hover {
  opacity: 0.9;
}

/* Suggestion card style */
.suggestion-card {
  flex: 1;
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #90c8f9ae;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: 'Manrope', sans-serif;

}

.suggestion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.suggestion-card h3 {
  margin-top: 0;
  color: #366491;
}

.suggestion-card p {
  margin: 10px 0;
  color: #555;
  font-family: 'Manrope', sans-serif;

}

/* Total carbon emission style */
.total-carbon-emission {
  text-align: center;
  margin-top: 20px;
  color: #366491;
  font-weight: bold;
}

/* Media queries and other existing styles */
@media screen and (max-width: 600px) {
  .suggestion-card {
    width: 80%;
  }
}

.response-container{
  display: flex;
}


/* Add these styles to your CSS file */
.suggestion-card h3 .fa-icon {
  scale: 200%;
  margin-top:50px;
  color: white;
  margin-right: 8px; /* Add some spacing between the icon and text */
}

.read-more-button {
  background-color: #ffffffc3;
  color: #366491;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
}

.read-more-button:hover {
  opacity: 0.9;
}
