body {
    background-color: #8CD2F6 !important;

}

.intro {
    color: white;
    padding: 30px 50px 70px 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size: 3.8rem;
    margin-bottom: -4rem;
    margin-top: 1rem;
}
  
  .intro-explain-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .column-image {
    width: 90%;
    height: auto;
    margin: 35px 0 0 90px;
    border-radius: 10px;
}
  
  
.explain {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    padding: 50px 20px 0 0;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: -1rem;
    font-weight: bold;
}

.mt-5 {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    color: white;
    background-color: #B0DAFF;
    padding: 30px 50px 30px 50px;
    margin: 0 auto; 
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}
.mb-3 {
    font-size: 3.6rem;
}

.route {
    padding-bottom: 13px;
}

.pass {
    color: #00043f;
}

.route {
    color: #DFA878;
}

.leaf {
    color: #557A46
}

.globe {
    color: #7A9D54;
}

.gift {
    color: #B31312;
}

.book {
    color: #765827
}

.iconTitle {
    color: #00043f;
    font-size: 1.8rem;
}