body,
html {
    margin: 0;
    padding: 0;
}

#map-container {
    height: 90vh;
    width: 100%;
}

.add-pin-button {
    position: relative;
    z-index: 999;

}




.leaflet-control-geosearch input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.leaflet-control-geosearch input[type="submit"] {
    display: none;

}
