body,
html {
    margin: 0;
    padding: 0;
}

#map-container {
    height: 90vh;
    width: 100%;
}



.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    display: flex;
    align-items: center;
    background-clip: padding-box;

}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;

}


.map-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    z-index: 999;
    margin-left: 200px;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.map .leaflet-top {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
}


.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
