.container-wrapper {
    background-image: url("./blue-world.jpg");
    background-size: cover;
    margin-top: -150px;
    height: 100%;
    padding: 70px;
  }
  
    .title {
      display: inline-block;
    }
    
    .sign {
      padding: 30px;
      margin: 20px auto;
      border-radius: 10px;
      width: 100%;
    }
  
    .signin-form {
      box-shadow: inset 0 0 50px #8CD2F6;
      background-color: #8cd3f6b9;
      margin: 100px auto 10px;
      padding: 30px;
      border-radius: 10px;
      max-width: 35%;
      font-family: 'Manrope', sans-serif;
      color: #213363;
      text-align: center;
    }
    
  /* Play with colour of text to be navy and that on the nav bar */
  
    .inline-p {
      display: inline-block;
      vertical-align: middle;
      margin-right: 820px;
      margin-bottom: 0;
      margin-right: 0;
      padding-left: 20px;
    }
  
    .signup {
      color: #213363;
      text-decoration: underline;
      cursor: pointer;
  
    }
    
    .text-box {
      width: 50%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
  }
    
    input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px -15px;
      display: inline-block;
      border: none;
      background-color: #ffffffc3;  
      border-radius: 10px;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #fff;
      outline: none;
    }
    
    .signinBtn:hover {
      opacity:1;
    }
    
    .signinBtn {
      width: 20%;
      border-radius: 10px;
      background-color: #ffffffc3;  
      color: #213363;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      opacity: 0.9;
      margin: 20px 0 -10px 0;
    }
    
    .submit {
      text-align: center;
    }
    
    @media screen and (max-width: 300px) {
      .signupbtn {
        width: 100%;
      }
    }
    
    @media screen and (min-width: 301px) and (max-width: 600px) {
      .inline-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
      }
    }
    
    @media screen and (min-width: 200px) and (max-width: 480px) {
      .top {
        margin-top:  260px;
        font-size: .35rem;
        max-width: 350px;
        max-height: 100px;
      }
      .container, .signin-form {
        max-width: 270px;
        margin-top: 10px;
      }
      .signinBtn {
        width: 80%;
      }
      .logo img {
        display: none;
      }
    }
    
    @media screen and (min-width: 481px) and (max-width: 830px) {
      .top {
        margin-top: 300px;
        font-size: .5rem;
      }
      .container, .signin-form {
        max-width: 600px;
      }
      .logo img {
        height: 120px;
        width: 120px;
      }
      
    }
    
    @media screen and (min-width: 831px) and (max-width: 991px) {
      .top {
        margin-top: 200px;
        font-size: .5rem;
      }
      .container, .signin-form {
        max-width: 650px;
      }
      .logo-img {
        max-height: 140px;
        max-width: 140px;
      }
    }
    
    @media screen and (min-width: 992px) and (max-width: 1024px) {
      .top {
        margin-top: 200px;
        font-size: .7rem;
      }
      .container, .signin-form {
        max-width: 800px;
      }
      logo-img {
        height: 100px;
        width: 100px;
      }
    }
    
    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      .top {
        margin-top: 150px;
        font-size: .7rem;
      }
      .container, .signin-form {
        max-width: 800px;
      }
      logo-img {
        height: 150px;
        width: 150px;
      }
    }
    
    @media screen and (min-width: 1201px) and (max-width: 1400px) {
      .top {
        margin-top: 150px;
      }
    }
    
    @media screen and (min-width: 1401px) and (max-width: 2000px) {
      .top {
        margin-top: 150px;
      }
    } 